[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
asyncio-nats-streaming = "*"
click = "*"
psutil = "*"

[requires]
python_version = "3.7"
